<%- include('partials/header'); -%>
<main id="front-page-main">
    <div id="splash">
        <div id="splash-left" class="splash-column">
            <img src="/technologies.png" alt="image of project technology logos">
        </div>
        <div id="splash-right" class="splash-column">
            <h1>Node.js authentication with JWT</h1>
            <p>This project is a JWT authentication example which uses the following technologies; Node.js, express.js, MongoDb and Typescript.</p>
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
    </div>
</main>
<%- include('partials/footer'); -%>